/* Extra CSS */

/* Wrap code rather than scroll */
pre {
  white-space: pre-wrap;
}

/* Navbar -------------------------------------------------------------------- */

/* pkgdown navbar */

.navbar {
  border-color: transparent;
  background: -o-linear-gradient(
    330deg,
    hsl(221deg 79% 9%) 0%,
    hsl(214deg 77% 13%) 5%,
    hsl(210deg 74% 16%) 11%,
    hsl(206deg 74% 19%) 20%,
    hsl(264deg 34% 31%) 31%,
    hsl(327deg 62% 32%) 43%,
    hsl(357deg 68% 38%) 56%,
    hsl(5deg 63% 46%) 67%,
    hsl(12deg 74% 53%) 78%,
    hsl(17deg 99% 60%) 86%,
    hsl(30deg 100% 58%) 93%,
    hsl(41deg 100% 58%) 98%,
    hsl(52deg 95% 61%) 100%
  );
  background: linear-gradient(
    120deg,
    hsl(221deg 79% 9%) 0%,
    hsl(214deg 77% 13%) 5%,
    hsl(210deg 74% 16%) 11%,
    hsl(206deg 74% 19%) 20%,
    hsl(264deg 34% 31%) 31%,
    hsl(327deg 62% 32%) 43%,
    hsl(357deg 68% 38%) 56%,
    hsl(5deg 63% 46%) 67%,
    hsl(12deg 74% 53%) 78%,
    hsl(17deg 99% 60%) 86%,
    hsl(30deg 100% 58%) 93%,
    hsl(41deg 100% 58%) 98%,
    hsl(52deg 95% 61%) 100%
  );
}

.navbar .navbar-nav > li > a,
.navbar-default .navbar-nav > .open > a, 
.dropdown-menu > li > a, 
.dropdown-menu > .active > a,
.dropdown-menu > li > a:visited, 
.dropdown-menu > .active > a:visited {
    color: white;
    background-color: transparent;
}

.dropdown-menu > li > a {
  background-color: transparent;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: white;
  background-color: transparent;
  filter: brightness(80%);
;
}

.dropdown-menu {
  background-image: -o-linear-gradient(
    335deg,
    hsl(221deg 79% 9%) 0%,
    hsl(217deg 79% 10%) 7%,
    hsl(215deg 78% 12%) 16%,
    hsl(214deg 77% 13%) 28%,
    hsl(212deg 76% 14%) 41%,
    hsl(211deg 75% 15%) 55%,
    hsl(210deg 74% 16%) 69%,
    hsl(208deg 74% 17%) 82%,
    hsl(207deg 74% 18%) 92%,
    hsl(206deg 74% 19%) 100%
  );
  background-image: linear-gradient(
    115deg,
    hsl(221deg 79% 9%) 0%,
    hsl(217deg 79% 10%) 7%,
    hsl(215deg 78% 12%) 16%,
    hsl(214deg 77% 13%) 28%,
    hsl(212deg 76% 14%) 41%,
    hsl(211deg 75% 15%) 55%,
    hsl(210deg 74% 16%) 69%,
    hsl(208deg 74% 17%) 82%,
    hsl(207deg 74% 18%) 92%,
    hsl(206deg 74% 19%) 100%
  );
}

/* Buttons and Links -------------------------------------------------------- */

a,
a:visited,
code a,
code a:visited,
pre a,
pre a:visited {
  color: #a11f25;
}

a:hover,
a:focus,
a:active,
code a:hover,
code a:focus,
code a:active,
pre a:hover,
pre a:focus,
pre a:active {
  color: #d73223;
  text-decoration: underline;
}

a.navbar-brand {
  color: white;
}

/* Table -------------------------------------------------------------------- */

table td {
  padding: 0.3rem !important;
}
